* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(0, 0, 0);
}

body {
    width: 750px;
    height: 750px;
    background-color: #233036;
    margin: auto;
}

header {
    width: 750px;
    height: 250px;
    background: aquamarine;
}

section#banner img{
    width: 500px;
    height: 250px;
    background-color: #f00;
    float: left;
}

#logo img{
    width: 250px;
    height: 125px;
    background-color: darkgreen;
    float: right;
}

#login {
    width: 250px;
    height: 125px;
    background-color: #233036;
    float: right;
}
nav {
    width: 750px;
    height: 50px;   
    background-color: #070007;
    padding: 15px;
    text-align: center;
    display: block;
    box-sizing: border-box;
}

a{
    font-size: 15px;
    text-decoration: none;
    padding: 0px 20px;
    margin: auto;
    color: white;
}

aside#left {
    width: 150px;
    height: 400px;
    background-color: yellowgreen;
    float: left;
}

article {
    width: 500px;
    height: 400px;
    background-color: teal;
    float: left;
}

aside#right {
    width: 100px;
    height: 400px;
    background-color: cornflowerblue;
    float: right;
}

footer {
    width: 750px;
    height: 180px;
    background-color: #071486;
}


/*-------------------------------------------FOOTER--------------------------------------------------------*/

footer{ 
    width: 750px; height: 100px;
    background:  #233036;
     }

#qr {
    width: 50px;
    height: 100px;
    background: #233036;
    float: left;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 10pc solid #000;
    margin-left: -60px;
}

#foot_izq {
    width: 500px;
    height: 50px;
    background: #233036;
    float: left;
    color: white;
}

#foot_der {
    width: 248px;
    height: 100px;
    float: right;
    text-align: auto;
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

#redes {
    padding: 2px;
}

#redes h3 {
    margin-bottom: 10px;
    text-align: center;
}

#sociales li {
    display: inline;
    margin: auto;
}

#sociales img{
    margin-top: 20px;
}

ul {
    margin: auto;
    list-style: none;
}

#ubica {
    text-align: center;
}

#sociales img:hover{
    transition: 400ms;
    transform: scale(2);
}

#qr img{
    margin-top: 20px;
}

#qr img:hover{
    transition: 400ms;
    transform: scale(2);
}


/*-------------------Login---------------------*/

form {
    width: 250px;
    margin-left: 5px;
    line-height: 20px;
    color: 741ele;
}

legend {
    font-weight: bold;
    text-align: center;
}

label {
    float: left;
    display: block;
    width: 90px;
}

input {
    float: none;
    display: inline;
}

.centrado {
    margin: 10px 100px;
}


/*----------------------------------------------*/

main {
    width: 750px;
    height: 400px;
    background-color: #000509c2;
}

#texto h3{
    color: white;
    text-align: center;
    font-size: 24px;
  
}

#texto p{
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
    justify-content: center;


}

#texto img{
    width: 200px;
    height: 150px;
    margin-top: 80px;
    margin-left: 35px;
}