* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(0, 0, 0);
}

body {
    width: 750px;
    height: 750px;
    background-color: rgb(0, 0, 0);
    margin: auto;
}

h1{
    color: white;
}

header {
    width: 750px;
    height: 250px;
    background: aquamarine;
}

section#banner img{
    width: 500px;
    height: 250px;
    background-color: #f00;
    float: left;
}

#logo img{
    width: 250px;
    height: 125px;
    background-color: darkgreen;
    float: right;
}

main{
    width: 750px;
    height: 400px;
    background: #070f14;
}

#login {
    width: 250px;
    height: 125px;
    background-color: #233036;
    float: right;
}

nav {
    width: 750px;
    height: 50px;   
    background-color: #000509c2;
    padding: 15px;
    text-align: center;
    display: block;
    box-sizing: border-box;
}

a{
    font-size: 15px;
    text-decoration: none;
    padding: 0px 20px;
    margin: auto;
    color: white;
}

aside#left {
    width: 150px;
    height: 400px;
    background-color: yellowgreen;
    float: left;
}

article {
    width: 300px;
    height: 400px;
    background-color: #070f14;
    float: left;
    font-size: 15px;
    color: white;
    text-align: center;
}

aside#right {
    width: 100px;
    height: 400px;
    background-color: cornflowerblue;
    float: right;
}

footer {
    width: 750px;
    height: 120px;
    background: #233036;
}


/*-------------------------------------------FOOTER--------------------------------------------------------*/


footer{ 
    width: 750px; height: 100px;
    background:  #233036;
     }
     
#qr {
    width: 50px;
    height: 100px;
    background: #233036;
    float: left;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 10pc solid #000;
    margin-left: -60px;
}

#foot_izq {
    width: 500px;
    height: 50px;
    background: #233036;
    float: left;
    color: white;
}

#foot_der {
    width: 248px;
    height: 100px;
    float: right;
    text-align: auto;
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

#redes {
    padding: 2px;
    margin: 10px 70px;
}

#redes h3 {
    margin-bottom: 10px;
    text-align: center;
}

#sociales li {
    display: inline;
    margin: auto;
}

#sociales img{
    margin-top: 20px;
}

ul {
    margin: auto;
    list-style: none;
}

#ubica {
    text-align: center;
}

#sociales img:hover{
    transition: 400ms;
    transform: scale(2);
}

#qr img{
    margin-top: 20px;
}

#qr img:hover{
    transition: 400ms;
    transform: scale(2);
}


/*-------------------Login---------------------*/

form {
    width: 250px;
    margin-left: 5px;
    line-height: 20px;
    color: 741ele;
}

legend {
    font-weight: bold;
    text-align: center;
}

label {
    float: left;
    display: block;
    width: 90px;
}

input {
    float: none;
    display: inline;
}

.centrado {
    margin: 10px 100px;
}

/*----------------------------------------------*/

.sli{
    width: 100%;
}


.container-all{
    margin: auto;
    position: relative;
    max-width: 400px;
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
}

input[type="radio"]{
    display: none;
}

.slide{
    display: flex;
    transform: translate(0,0,0);
    transition: all 800ms;
    animation-name: autoplay; /*Nombre de la animacion*/
    animation-duration: 15s;
    animation-direction: alternate ;
    animation-fill-mode: forwards;/*Iniciara el primero*/
    animation-iteration-count: infinite;
    margin-top: 50px;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;/*Ocupa el espacio vertical*/
    flex-grow: 0;/*Ocupa el espacio horizontal*/
    max-width: 100%;
}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #fff;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    margin: 0 10px;
    text-align: center;
    transition: all 400ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 400ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}

/*---Control de los botones---*/
input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0,0,0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1),0,0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}

input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2),0,0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}  

input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3),0,0);
}

input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
    background: #fff;
}

/*---Division tiempo---*/
@keyframes autoplay{
    25%{
        transform: translate3d(calc(-100% * 0),0,0);
    }
    
    50%{
        transform: translate3d(calc(-100% * 1),0,0);
    }

    75%{
        transform: translate3d(calc(-100% * 2),0,0);
    }

    100%{
        transform: translate3d(calc(-100% * 3),0,0);
    }
}
